@using MonoRepo.Shared.Data.ValueObjects
@model ProdutoVo

@{
    ViewData["Title"] = "Detalhes do Produto";
}

<h1>@Model.NomeProduto</h1>
<p><strong>Descrição:</strong> @Model.Descricao</p>
<p><strong>Preço:</strong> @Model.Preco.ToString("C", System.Globalization.CultureInfo.CurrentCulture)</p>
<p><strong>Categoria:</strong> @Model.NomeCategoria</p>
@if (!string.IsNullOrWhiteSpace(Model.ImagemUrl))
{
    <h2>Imagens do Produto</h2>
    <div class="product-images">
        <img src="@Model.ImagemUrl" alt="@@Model.ImagemUrl" class="product-image" />
    </div>
}
else
{
    <p>Nenhuma imagem disponível para este produto.</p>
}

<div class="product-actions">
    <ul>
        <li>
            <a type="button" asp-controller="Home" asp-action="AtualizarProduto" asp-route-id="@Model.Id">Editar produto</a>
        </li>
        <li>
            <a href="#">Adicionar no carrinho</a>
        </li>
        <li>
            <a href="#">Deletar produto</a>
        </li>
    </ul>
</div>